modules = ["python-3.12", "web", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "rustc", "tcl", "tk", "zlib"]

[userenv]

[userenv.shared]
API_ID = "964098"
PORT = "5000"
API_HASH = "3a40779521bc99b4c9753572ddd17ee7"
index_all = "true"
SESSION_STRING = "BQAOtgIAbZ_-uL3v3D6XR0_iD-E3fH-0RwugpOhM3qFMzXQSNqTkzn3OcyraURHkviKttZFkx7mdcIyCmoqQsmLdoTH4itiCkYGuJ77WeBK-teE5xos10irHmD984MRGyUxSz2wfNtRO5lI-R9HxMFXGy6GM_tUQ9XdtkwV6gvGyGep5yaxWwFIjkxO_MhGjt42n1GFJFby-MHjPAkNktGOi2ahjhzDDMKlnzs9aePrqXjqThYcIVLpMLKvmI9baFeKZ8HAYoPP-V-5jOVP_MgVVyluIgTFzgjmFae2pN9pYL11DKst4NbTuSp_rROmjgUrlWXUQk0YIOcnoF752r20vRbr1BQAAAAGqizSJAA"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python repl-config/run-repl.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "vm"
run = ["python", "repl-config/run-repl.py"]
